header {
    width: 100%;
    background-color: $header-background-color;
    // padding: 0 40px;

    nav {
        color: $font-dark;
        box-shadow: none;
        -webkit-box-shadow: none;

        a {
            color: $font-dark;
        }

        ul {
            li {
                a:hover {
                    background-color: none;
                }
            }

            a {
                color: $font-dark; 
                font-size: 0.9rem;
            }

            .join {
                border: 1px solid $secondary-color;
                color: $secondary-color;
                border-radius: 100px;
                padding: 10px 25px;
            }

            .btn-small {
                background-color: $secondary-color;
                box-shadow: none;
                text-transform: none;
                border-radius: 40px;
            }
        }

        .brand-logo {
            color: $font-dark;
            font-size: 1.3em;
            text-transform: capitalize;
            .brand-end {
                color: $secondary-color;
            }
        }

        i.material-icons {
            font-size: 30px;
        }
    }

    .sidenav {
        // padding-top: 49px;

        .divider {
            margin-bottom: 20px;
        }

        .nav-icon {
            color: $secondary-color !important;

        }
    }
}

.mobile-back-header {
    height: $navigation-height;
    background-color: transparent;
    vertical-align: middle;

    nav, .nav-wrapper {
        background-color: transparent;
    }

    a {
        color: inherit;
        float: left;
        position: relative;
        z-index: 1;
        margin: 0 18px !important;

        i {
            font-size: 30px;
        }
    }
}