.MuiAppBar-colorPrimary {
    background-color: #ffffff !important;
    color: $font-dark !important;
}

.MuiPaper-elevation4 {
    z-index: 0 !important;
    box-shadow: none !important;
}

.MuiPaper-elevation16 {
    box-shadow: none !important;
}

.spacer {
    min-height: $navigation-height;
}

.MuiBackdrop-root {
    background-color: rgba(0,0,0,0) !important; 
}

.MuiDrawer-paperAnchorRight {
    top: 64px !important;
    width: 100%;
    padding-left: 10px;
}

.MuiIconButton-root {
    padding: 0 !important;
}

header {
    width: 100%;
    background-color: $header-background-color;
    // padding: 0 40px;

    div {
        justify-content: space-between;
    }

    .container {
        padding: 0 10px;
    }

    .app-header-full {
        li {
            display: inline;
            padding: 0 10px;
            font-size: 1.1em;
            color: $navy;

            a:active {
                color: $navy;
            }

            a:visited {
                color: $navy;
            }
        }
    }

    nav {
        height: $navigation-height !important;
        line-height: $navigation-height !important;
        color: $font-dark;
        box-shadow: none;
        -webkit-box-shadow: none;

        .nav-wrapper {
            height: $navigation-height !important;   
            line-height: $navigation-height !important;
        }

        .brand-logo {
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
            height: 26px;
        }

        a {
            color: $font-dark;
        }

        ul {
            li {
                a:hover {
                    background-color: none;
                }
            }

            a {
                color: $font-dark; 
                font-size: 0.9rem;
            }

            .join {
                border: 1px solid $secondary-color;
                color: $secondary-color;
                border-radius: 100px;
                padding: 10px 25px;
            }

            .btn-small {
                background-color: $secondary-color;
                box-shadow: none;
                text-transform: none;
                border-radius: 40px;
            }
        }

        i.material-icons {
            // font-size: 28px;
            line-height: $navigation-height !important;
        }

        .sidenav-trigger {
            margin: 0 !important;
        }
    }

    .sidenav {

        .menu-top {
            background-color: $header-background-color;

            .sidenav-close {
                height: $navigation-height;

                .sidemenu-close {
                    height: $navigation-height !important;
                    line-height: $navigation-height !important;
                    font-size:18px;
                }
            }
        }

        .divider {
            margin-bottom: 20px;
        }

        li > a {
            color: rgb(111, 117, 118);
            font-size: 14px;
            line-height: 40px;
            font-weight: 500;
            text-transform: none;
        }
        

        .nav-icon {
            // color: $primary-color !important;

        }
    }
}

.mobile-back-header {
    // position: absolute;
    // top: 0;
    // left: 0;
    height: $navigation-height;
    // background-color: transparent;
    display : flex;
    align-items : center;

    div {
        height: $navigation-height;
        display : flex;
        align-items : center;
    }

    a {
        color: inherit;
        // margin: 0 0 !important;
        height: $navigation-height;

        i {
            height: $navigation-height;
            display : flex;
            align-items : center;
            font-size: 25px;
        }
    }
}

// Overide the hamburger icon style
.menu-icon {
    span {
        svg {
            color: #03314B;
            font-size: 1.8rem;
        }
    }
}

// Overide the side menu style
.sidebar-links {
    color: rgb(111, 117, 118);
    a {
        text-decoration: none;
        color: inherit;
    }
    span {
        font-size: 1.1rem !important;
    }
}