header {
    width: 100%;
    background-color: $header-background-color;
    // padding: 0 40px;

    .container {
        padding: 0 10px;
    }

    nav {
        height: $navigation-height !important;
        line-height: $navigation-height !important;
        color: $font-dark;
        box-shadow: none;
        -webkit-box-shadow: none;

        .nav-wrapper {
            height: $navigation-height !important;   
            line-height: $navigation-height !important;
        }

        a {
            color: $font-dark;
        }

        ul {
            li {
                a:hover {
                    background-color: none;
                }
            }

            a {
                color: $font-dark; 
                font-size: 0.9rem;
            }

            .join {
                border: 1px solid $secondary-color;
                color: $secondary-color;
                border-radius: 100px;
                padding: 10px 25px;
            }

            .btn-small {
                background-color: $secondary-color;
                box-shadow: none;
                text-transform: none;
                border-radius: 40px;
            }
        }

        i.material-icons {
            font-size: 30px;
            line-height: $navigation-height !important;
        }

        .sidenav-trigger {
            margin: 0 0.5em !important;
        }
    }

    .sidenav {

        .menu-top {
            background-color: $header-background-color;
            .sidenav-close {
                height: $navigation-height;

                .sidemenu-close {
                    height: $navigation-height !important;
                    line-height: $navigation-height !important;
                }
            }
        }

        .divider {
            margin-bottom: 20px;
        }

        .nav-icon {
            // color: $primary-color !important;

        }
    }
}

.mobile-back-header {
    position: absolute;
    top: 0;
    left: 0;
    height: $navigation-height;
    background-color: transparent;
    display : flex;
    align-items : center;

    div {
        height: $navigation-height;
        display : flex;
        align-items : center;
    }

    a {
        color: inherit;
        margin: 0 0 !important;
        height: $navigation-height;

        i {
            height: $navigation-height;
            display : flex;
            align-items : center;
            font-size: 30px;
        }
    }
}