.class-card-link {
    text-decoration: none;
}



.dot {
    height: 4px;
    width: 4px;
    background-color: $font-pale;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 3px 10px;
}

.class-name {
    text-transform: capitalize !important;
    color: $font-dark !important;
    font-weight: 600 !important;
    font-size: 22px !important;
}

.company {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;

    .company-name {
        color: $font-dark;
    }

    .company-logo {
        margin: 0 8px 0 0px;
        height: 100%;
        border-radius: 50%;
    }
}

h4.class-name {
    text-transform: capitalize;
    margin: 0 !important;
    font-size: 16px !important;
}

.MuiCardMedia-root {
    background-color: $image-background-color;
}

.MuiCardContent-root {
    margin-bottom: 0 !important;
    padding-bottom: 5px !important;

    h4 {
        margin: 0;
    }
}

.MuiCardActions-root {
    padding: 10px 16px 16px 16px !important;
}

.card-footer {
    .class-details {
        width: 100%;
        margin: 0;
        padding: 10px 0 0px 0;
        color: rgba(0, 0, 0, 0.54);
    }

    .class-details-flag {
        margin-bottom: -1px;
    }
}
