.locale-selector {
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    align-items: center;

    .locale-flag {
        height: 15px !important;
        margin: 0 5px;  
    }

    a {
        min-width: auto;
        margin: 0 3px 0 5px !important;
    }

    .language-selector-btn {
        text-transform: lowercase;
        font-weight: normal;
        margin: 0;
        padding: 0;
        line-height: inherit;
        font-size: inherit;
        color: $font-dark;
    }
}