.brand-logo {
    color: $font-dark;
    height: $navigation-height !important;
    text-transform: uppercase;
    font-size: 1.5em !important;

    .logo {
        display: flex;
        flex-direction: row;    
        height: $navigation-height;
        align-items: center;

        div {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .brand-name {
                color: $secondary-color;
                vertical-align: bottom;
                line-height: 24px;
            }
        
            .brand-sub {
                color: $font-pale;
                font-size: 0.5em !important;
                vertical-align: bottom;
                line-height: 16px;
            }
        }
    }
}