.topic-card {
    // width: 300px;
    // margin: 10px;

    .MuiCardMedia-root {
        height: 200px;
        width: auto;
        background-color: #eaeaea;
    }

    .MuiCardContent-root {
        padding: 0 16px;

        h4 {
            text-transform: capitalize;
            margin: 10px 0; 
        }

        p {
            margin: 0 0 20px 0;
        }
    }
}
