.topic-card {
    max-width: 220px !important;

    .MuiCardMedia-root {
        height: 200px;
        width: auto;
        background-color: $image-background-color;
    }

    .MuiCardContent-root {
        padding: 0 16px;

        h4 {
            text-transform: capitalize;
            margin: 10px 0; 
        }

        p {
            margin: 0 0 20px 0;
        }
    }
}
