.type-card {
    width: 200px !important;
    height: 180px !important;

    .MuiCardMedia-root {
        height: 150px;
        width: auto;
        background-color: $image-background-color;
    }

    .MuiCardContent-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 180px;
        margin: 0;
        text-align: center;
        padding-bottom: 16px !important;
        background: rgba(255,255,255,0.3) !important;

        span {
            font-size: 1.5em;
            font-weight: 700;
        }

        .material-icons {
            font-size: 3em !important;
        }

        h4 {
            font-size: 1.7em;
        }
    }

    .type-car-online {
        height:180px !important;
    }
}