// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Text color
/// @type Color
$very-dark-grey: rgb(36,30,18);
$dark-grey: rgb(36, 38, 18);
$light-grey: rgb(110, 109, 109);
$very-light-grey: rgb(224, 224, 224);

/// Main color
/// @type Color
$primary-color: #785BF3;
// $primary-color: rgb(94, 0, 240);

/// Secondary color
/// @type Color
$secondary-color: #2DE080;

/// Background colors
/// @type Color
// $body-background-color: rgb(255, 255, 255);
$body-background-color: #ffffff;
$header-background-color: rgb(255, 255, 255);
$footer-background-color: rgb(129, 122, 122);
$image-background-color: #eaeaea;

/// Navigation height
$navigation-height: 64px;


