// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Container dimensions
$container-width: 90%;
$container-width-mobile: 100%;

/// Text color
/// @type Color
$font-dark: rgb(57, 59, 65);
$font-pale: rgba(91, 93, 95, 0.7);
$font-very-pale: rgb(224, 224, 224);
// $purple: #3f51b5;
// $purple: #5e00f0;
$purple: #785BF3;
$green: #2DE080;
// $green: #6EDB88;
$navy: #03314B;

/// Background colors
/// @type Color
// $body-background-color: rgb(255, 255, 255);
$body-background-color: rgba(247, 247, 247,0);
$header-background-color: rgb(255, 255, 255);
$footer-background-color: rgb(129, 122, 122);
$image-background-color: #eaeaea;

/// Main color
/// @type Color
$primary-color: rgb(127, 135, 158);

/// Secondary color
/// @type Color
$secondary-color: rgb(94, 0, 240);

/// Navigation height
$navigation-height: 64px;

// Pastel colors for tag labels
// https://material-ui.com/customization/color/

// pregnancy
$pastel-red: #FFEAEA;

$pastel-pink: #fce4ec;
// massage
$pastel-purple: #FDF2FF;
// breastfeeding
$pastel-deep-purple: #F1ECFF;
// social
$pastel-indigo: #e8eaf6;
// yoga
$pastel-blue: #e3f2fd;
// postpartum
$pastel-light-blue: #DBEBFF;
// nutrition
$pastel-cyan: #e0f7fa;
// music
$pastel-teal: #e0f2f1;
// lecture
$pastel-green: #e8f5e9;
// parenting
$pastel-light-green: #f1f8e9;

$pastel-dark-green: #CFFEF0;
// feeding
$pastel-lime: #f9fbe7;
// sleep
$pastel-yellow: #FFFFE3;
// mindfulness
$pastel-amber: #fff8e1;

$pastel-orange: #ffe0b2;
// first aid
$pastel-deep-orange: #fbe9e7;
// baby
$pastel-brown: #efebe9;
// all
$pastel-blue-grey: #cfd8dc;

