.card .card-image img {
    // display: block;
    // border-radius: 2px 2px 0 0;
    // position: relative;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // width: 100%;
}

.horizontalClasses{
    display: flex;
    padding: 0 0.75em;
    overflow-x: auto;
}

.horizontalClasses::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 268px;
    max-width: 269px;
    margin-right: 20px;

    .card-image {
        border-radius: 2px 2px 0 0;
        height: 150px;
        // width: 100%;
        // padding-bottom: 50%;
        // overflow: hidden;
        // position: relative;   
        //background-size: cover;
        background: no-repeat center/cover;
        img {
            border-radius: 2px 2px 0 0;
        //     width: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        }
    }

    .card-content {

        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;

        .card-title {
            color: $font-dark;
            font-size: 1.2em;
            font-weight: 500;
            margin-bottom: 0px;
            line-height: 1.4em;
        }

        .card-subtitle {
            color: $font-pale;
            font-size: 0.8em;
            line-height: 1.1em;
        }

        .card-footer {
            font-size: 12px; 
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // height: 100%;
            .price {
                text-align: right;
            }
        }

    }
}
