.horizontalClasses{
    width: 100%;
    display: flex;
    padding: 0 0.75em;
    overflow-x: auto;
}

.horizontalClasses::-webkit-scrollbar {
    // display: none;
}



.class-image-mobile {
    // position: relative;
    // top: $navigation-height * -1;
    height: 250px;
    // background: no-repeat center/cover;
    background-repeat: no-repeat;
    background-size: 100% 250px; 
    background-position: top;
    background-clip: content-box;
}

