.MuiGrid-container {
    padding: 0 !important;
}

.class-details-container {
    margin: 0 auto;
    max-width: 750px;
}

.class-image {
    height: 300px;
    background: no-repeat top/cover;
    width: 100%;
}

.class-details {
    padding: 0 15px;
    
    .header {
        margin: 30px 0px 0 0px;

        .company {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.4em;
            font-weight: 300;
            margin: 15px 0 20px 0;
            text-transform: capitalize;
            height: 45px;

            .logo {
                display: block;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .class-price {
            padding: 10px 0 0 0;
            font-size: 1.2em;
        }

        .class-price-couples {
            padding: 0 !important;
            margin: 0 !important;
            font-size: 0.9em;
        }

        .class-title {
            color: $font-dark;
            font-weight: 400 !important;
            margin: 0;
        }

        .class-top-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start ;
            margin: 0;
            padding: 20px 0;
            color: rgba(0, 0, 0, 0.54);
            border-top: 1px solid $font-very-pale;
            border-bottom: 1px solid $font-very-pale;

            .value {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 0;

                .material-icons {
                    margin-right: 20px;
                }

                span {
                    margin-right: 2px; 
                    display: block;
                    line-height: inherit !important;
                    display: inline-flex;
                }

                .language {
                    text-transform: capitalize;
                }
    
            }

            .other-dates {
                margin-top: -5px;
                margin-left: 40px;

                div > span {
                    padding-bottom: 3px;
                }
            }
                
            .MuiIcon-root {
                height: inherit !important;
            }

            .material-icons {
                display: inline-flex;
                font-size: 20px;
                vertical-align: middle;
            }

            .spacing {
                margin-left: 20px;
            }

            .class-duration {
                display: flex;
                flex-direction: row;
                vertical-align: middle;
            }

            .duration-icon {
                padding: 0;
            }
        }
    }

    .class-tags {
        margin:10px 0 0 0;
    }

    .card-tabs {

        h3 {
            font-size: 1.5em;
            font-weight: 500;
        }

        .description {
            color: $font-dark;
            font-size: 1em;
            line-height: 1.4em;
        }
    }

    .actions {
        margin-top: 40px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }


}

.class-details-tabs {
    header {
        background-color: transparent;
    }

    .MuiBox-root {
        padding: 10px 0;
    }
}

.class-date-item {
    display: flex;
    margin: 15px 0;
    flex-direction: row;
    justify-content: center;
    
    span {
        margin-right: 10px;
    }

    p {
        margin:0;
    }
}

.redirect-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 40px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $font-very-pale;

    .MuiButton-contained {
        background-color: $purple !important;
        color: #fff !important;
    }

    p {
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.875rem;
        margin: 10px 0 10px 0;
    }

    .class-price {
        font-size: 1.2rem;
    }

}

.language-flag {
    height: 12px;
}

.about-class {
    min-height: 300px;
}

table {
    width: 100%;

    td.MuiTableCell-body {
        text-transform: capitalize;
    }
}