.MuiAppBar-colorDefault {
    background-color: $body-background-color !important;
}

.MuiBox-root {
    padding: 0 !important;
}

.MuiTabs-indicator {
    background-color: $secondary-color !important;
}

.MuiGrid-container {
    padding: 15px;
}

.search-results {
    margin: 15px 0 !important;
}

.MuiTabs-scroller {
    border-bottom: 1px solid #eaeaea;

}

// Active tab decorator
.MuiTabs-indicator {
    height: 5px !important;
}

.MuiTab-wrapper {
    color:$font-pale;
}

.Mui-selected {
    span {
        color: #666;
    }
}

// .MuiTypography-body1 {
//     margin: 20px 0 !important;
// }

.result-filters {
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    .filter-icon {
        font-size: 0.8rem;
    }
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    // background-color: #f9f9f9;
    color: $font-pale;

    ul {

        li {
            display: inline;
            margin: 0 40px 0 0;
            text-decoration: none;
        }
    }

    .filter-icon {
        font-size: 0.8rem;
    }
}

.results-count {
    font-size: 0.7rem;
    color: $font-pale;
}
