.tagline {
    text-align: center;

    .tagline-header {
        // color: $secondary-color;
        font-size: 2em;
    }

    .tagline-paragraph {
        max-width: 85%;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 1.5em;
        color: $navy;
        font-weight: 400;

        em {
            font-style: normal;
        }
    }

    .tagline-image {
        img {
            width:100%;
            height:auto;
        }
    }

    button {
        margin: 1.5em 0;
    }

    .main-links {
        button {
            margin: 30px 20px;
        }
    }

    btn-first {
        background-color: $purple;
    }
}

.homepage-tags {
    display: inline-block;
    margin: 5px;
}

.MuiButton-containedPrimary {
    background-color: $green !important;
}

.MuiButton-contained {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

.card-container {
    padding: 0 !important;
}

.classes-preview-link {
    text-align: center;
}

.more {
    font-size: 0.6em;
    margin-left: 30px;
}

.view-more-btn {
    margin-top: 20px;
    background-color: transparent !important;
    border: none;
    border-bottom: 4px solid $secondary-color;
    // height: 4rem;
    font-weight: bold;
    color: $font-dark;
    // border-radius: 3px;
    // width: 100%;
}

.providers-logos {
    // display: inline-block;
    text-align: center;

    .provider-inner {
        display: flex;
        align-items: center;
        margin: 0;  
        min-height: 100px;

        .logo-container {
            display: flex;
            align-items: center;
            height: 100%;
            vertical-align: middle;

            a {
                display: inline-block;    
                height: 100%;            
                // vertical-align: middle;
                max-width: 100%;

                .helper {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }                   

                img {
                    // display: inline-block;
                    vertical-align: middle;
                    max-height: 100%;
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        
    }
}

.logo-container {
    display: flex;
    align-items: center;
    height: 90px;

    img {
        vertical-align: middle;
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }
}
