.login-form {
    max-width: 420px;
    text-align: left;
    margin: 40px auto;

    a {
        text-decoration: underline !important;
    }
    
    form {
        padding: 0 0 20px;

        .required:after { 
            content:" *"; 
            color: $primary-color;
        }

        label {
            margin-bottom: 8px;
            padding: 0;
            text-transform: uppercase;
            font-size: 0.7rem; 
            font-weight: 500;
        }

        .provider-label--option {
            font-weight: normal;
            text-transform: none;
        }

        button {
            margin: 40px 0 !important;
            width: 60%;
            height: 60px;
            text-transform: none !important;
            span {
                font-size: 1.2rem !important;
            }
        }

        .provider-selector {
            .MuiRadio-colorSecondary.Mui-checked {
                color: $primary-color !important;
            }
        }

        button:disabled,
        button[disabled] {
            background-color: $primary-color;
            color: $dark-grey;
            box-shadow: none !important;
        }

        .signIn-signUp {
            background-color: $primary-color;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) !important;
            color: #ffffff;
        }

        .loading {
            background-color: #eaeaea;
            color: $dark-grey;
            box-shadow: none !important;

            .loading-spinner {
                margin: 0;
                padding: 0;
            }

            .react-spinner-material {
                height: 20px !important;
                width: 20px !important;
                border-width: 2px !important;
                border-color: $dark-grey !important;
            }
        }

        .MuiFormControl-marginNormal {
            margin-top: 8px;
        }

    }
}

.signUp-link {
    margin: 30px 0;
    color: $light-grey;
}

.create-account-link {
    color: $light-grey;
}