button {
    // todo move to below parent
    text-transform: capitalize !important;
    // padding: 3px 12px !important;
    font-weight: normal !important;
    font-size: 0.9rem !important;
    margin: 0 10px 0 0 !important;
    .material-icons {
        font-size: 1rem !important;
    }
}

.primary {
    background-color: $purple !important;
    color: #fff !important;
    
}

.secondary {
    background-color: transparent !important;
    color: $font-pale !important;
}

form {
    // border: 1px solid #e1dede;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px 30px;

    .provider-form-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin: 0 10px 0 0 ;
            min-width: 150px;
            text-align: right;
        }

        input, .MuiSelect-root, textarea {
            min-width: 300px;
        }

        textarea {
            height: auto;
        }
    }

    .form-buttons {

        .send-form-data, .cancel-form-data {
            width: 100px;
            padding: 0;
        }

        .material-icons {
            font-size: 1rem !important;
            margin-right: 10px;
        }
    }
}

.MuiTableRow-head {
    background-color: #f7f7f7;
    th {
        color: rgba(0,0,0,0.85);
        font-size: 0.9rem;
    }
}

.new-class-form {
    select, .date-selector, .MuiButtonBase-root  {
        margin: 8px 0 4px 0;
        width: 330px;
        padding: 5px 35px 5px 5px;
        font-size: 16px;
        border: 1px solid #CCC;
        height: 42px;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
    }

    .time-notice {
        font-size: 0.7rem;
        color: rgb(92, 80, 58);
        padding-left: 10px;
    }

    input[type="file"] {
        font-size: 12px;
        min-width: 120px !important;
        // display: none;
    }

    .file-upload-container {
        height: 42px;
        width: 330px;
        margin: 8px 0 4px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        height: 42px;
        float: left;
        width: 120px;
        padding: 9px 45px 5px 0px;
        border-radius: 4px;
        cursor: pointer;
    }

    .upload-image {
        height: 42px;
        margin: 4px 0 4px 0;
        // width: 120px;
        padding: 9px 15px 5px 15px;
        border-radius: 4px;
        border: 1px solid #ccc;

    }
}

.form-buttons {
    margin: 20px auto;
}

.admin-section {
    border-top: 1px solid #e1dede;
    margin: 20px 0 0 20px;
    padding: 10px 0;
    text-transform: uppercase;
    color: $font-pale;
}