@charset 'UTF-8';

// 1. Configuration and helpers
@import
    'abstracts/variables';
//   'abstracts/functions',
//   'abstracts/mixins';
  
// 2. Vendors
// @import
//     'vendors/normalize';

// 3. Base stuff
@import
    'base/base',
    'base/fonts';
  
// 4. Layout
@import 
    'layout/header',
    'layout/desktopNav';


// 5. Pages
@import 'pages/home';
@import 'pages/classes';
