// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html, input, button {
    color: $font-dark;
    font-size: 16px;
    text-size-adjust: 100%;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);

}
  
/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body {
    font-family: $font-stack;
    padding: 0;
    margin: 0;
    background-color: $body-background-color !important;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.border-debug {
    border: 1px dashed grey;
}

.z-depth-1 {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05) !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.15) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);;
}

.z-depth-1:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05) !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.55,.18,.25,1);;

}

.main-content {
    min-height: 80vh;
}

.container, {
    width: $container-width !important;
}

@media only screen and (max-width: 993px) {
    .container {
        width: $container-width !important;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: $container-width-mobile !important;
    }
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
    color: black;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white !important;
    // background-color: $secondary-color !important;
    //padding: .75rem 1.5rem !important;
    border-radius: .5rem !important;
    text-decoration: none !important;
    font-size: .9rem !important;
}

.btn-first {
    background-color: $purple !important;
    color: white !important;
}

.btn-second {
    background-color: $green !important;
    color: white !important;
    border: 1px solid $green !important;
}

h2 {
    font-size: 2rem;
    font-weight: 700 !important;
    color: $secondary-color;
    letter-spacing: 1px;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8rem;
}

.main-content {
    padding: 0 15px !important;
}