
.tags:last-child {
    margin-bottom: -.5rem;
}

.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} 

.tag {
    align-items: center;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .8rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}



.tag {
    margin-right: .5rem;
}

.tags .tag {
    margin-bottom: .5rem;
}

.tag-all {
    border: 1px solid $pastel-blue-grey !important;
    color: #363636;
}

.tag-baby {
    background-color: $pastel-brown !important;
    color: #363636;
}

.tag-breastfeeding {
    background-color: $pastel-deep-purple !important;
    color: #363636;
}

.tag-feeding {
    background-color: $pastel-lime !important;
    color: #363636;
}

// first aid
.tag-first {
    background-color: $pastel-deep-orange !important;
    color: #363636;
}

.tag-lecture {
    background-color: $pastel-green !important;
    color: #363636;
}

.tag-massage {
    background-color: $pastel-purple !important;
    color: #363636;
}

.tag-mindfulness {
    background-color: $pastel-amber !important;
    color: #363636;
}

.tag-music {
    background-color: $pastel-teal !important;
    color: #363636;
}

.tag-nutrition {
    background-color: $pastel-cyan !important;
    color: #363636;
}

.tag-parenting {
    background-color: $pastel-light-green !important;
    color: #363636;
}

.tag-postpartum {
    background-color: $pastel-light-blue !important;
    color: #363636;
}

.tag-pregnancy {
    background-color: $pastel-red !important;
    color: #363636;
}

.tag-sleep {
    background-color: $pastel-yellow !important;
    color: #363636;
}

.tag-social {
    background-color: $pastel-indigo !important;
    color: #363636;
}

.tag-yoga {
    background-color: $pastel-blue !important;
    color: #363636;
}
// 
// https://www.incengine.com/?name=Pastel-HTML-Color-Codes&art=pastel_colors